<html>
<head>
<link href="search.css" rel="stylesheet">
</head>

<body onload="fillResponse();">
	<h1>SEARCH BOX</h1>
	<div>
	<form action="/" method="POST">
		<input name='search' type="text" class="SearchBox-input" placeholder="Type your Word">
	
			<button class="SearchBox-button" type="submit">
				<i class="SearchBox-icon  material-icons">search </i>
		
            </button>
        </form>

	</div>
	
</body>
<script>

	function fillResponse() {

		console.log("FILLING PAGE");
		const responseJson = JSON.parse({{ response| tojson}});

	}



	

</script>
</html>